/** @format */

.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1c2227;
  flex: 1;
  padding-top: 50px;
}

.add-friend-button-container{
  width: 85%;
  text-align: right;
}

.add-friend-button{
  background-color: transparent;
  font-size: 35px;
  align-self: flex-end;
  margin-top: 25px;
  background-color: #121212;
  border: none;
  padding: 5px 15px;
  border-radius: 7px;
  cursor: pointer;
}

.cancel-add{
  color: rgb(170, 19, 19);
}
