.statements-responses-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  cursor: pointer;
}

.statement-container {
  display: flex;
  align-items: center;
  background-color: #121212;
  padding: 15px;
  border-radius: 7px;
}

.statement{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
}

.edit-statement{
  color: white;
  margin-right: 15px;
}

.delete-statement{
  color: white;
}

.delete-statement:hover{
  color: rgb(175, 46, 46);
}

.statement-options{
  display: flex;
  align-self: flex-end;
  flex: 1;
  justify-content: flex-end;
}

.index{
  margin-right: 35px;
}

.hi{
  color: white;
}

.editable{
  border-bottom: solid rgb(155, 155, 155) 1px;
}

