/** @format */

.friend {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #121212;
  margin-top: 20px;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.friend-name,.friend-description{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.friend-name{
  font-size: 30px;
}

.friend-description-main{
  font-size: 17px;
  margin-top: 20px;

}

.submit-friend{
  color: white;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.add-friend-info{
  display: flex;
  flex-direction: column;
}

.add-friend{
  flex-direction: row;
  align-items: center;
}

.add-friend-input{
  background-color: transparent;
  border: none;
  border-bottom: solid yellow 1px;
}