.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-friend-container {
  flex: 1;
  background-color: #1c2227;
  justify-content: flex-start;
}

.main-friend-info {
  width: 90vw;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #121212;
  flex-direction: row;
  padding: 40px;
}

.main-friend-form {
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  overflow: hidden;
}

.main-friend-form-input {
  font-size: 40px;
  background-color: transparent;
  overflow: hidden;
  border: none;
}

.main-friend-name {
  color: white;
}

.main-friend-description {
  font-size: 20px;
  padding-top: 20px;
}

.main-friend-options {
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}

.icon {
  margin-top: 25px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

.icon + .icon-description {
  font-size: 15px;
  color: transparent;
  margin-top: 5px;
}

.icon:hover + .icon-description {
  color: white;
}

.fa-trash-alt:hover{
  color: red;
}

/* statements begin */

.statements-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.add-statement {
  font-size: 40px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 20px;
  background-color: #121212;
  padding: 0px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.add-statement-containers{
  width: 90vw;
  text-align: right;
}

.add-statement:disabled {
  color: gray;
}

@media only screen and (max-width: 780px) {
  .main-friend-info {
    flex-direction: column;
  }

  .main-friend-info {
    justify-content: space-evenly;
    align-items: center;
  }

  .main-friend-form {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
  }

  .main-friend-options {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }

  .icon-description {
    font-size: 20px;
    display: none;
  }
}
