.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  font-size: 1.3rem;
  color: white;
}

.nav-inner-left {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
}

.out {
  background-color: transparent;
}

.nav-logo {
  text-decoration: none;
  margin-left: 1em;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  margin-right: 2em;
  padding: 2.5vh;
  transition: border 0.2s ease-in;
  border-bottom: 0.4vh solid #121212;
  color: white;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-hamburger {
  display: none;
}

.out-link {
  border-bottom: none;
}

@media screen and (max-width: 850px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-links {
    height: 0px;
    width: 100vw;
    overflow: hidden;
    display: none;
    color: white;
  }
  .nav-inner-left {
    width: 100vw;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in;
    height: fit-content;
  }

  .active{
    border-bottom: none !important;
  }

  .nav-hamburger {
    display: block;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    /* z-index: 2; */
  }
}
