/** @format */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.nav-logo{
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-link{
  color: white;
  text-decoration: none;
  margin-right: 50px;
  padding: 2.5vh;
  transition: border .2s ease-in;
  border-bottom: .4vh solid #121212;
}

.nav-hamburger {
  display: none;
}

@media screen and (max-width: 550px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 0;
    transition: all 0.3s ease-in;
    width: 100vw;
    background-color: black;
    top: 25px;
    overflow: hidden;
  }

  .nav-links.active {
    transition: height 0.3s ease-in;
    position: absolute;
    height: 120px;
  }

  .nav-link {
    color: white;
  }

  .nav-hamburger {
    display: block;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

