/** @format */

.login-container{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #1c2227;
}

.login-form{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #121212;
}

.login-title{
  color: white;
}

.login-input{
  background-color: transparent;
  border: none;
  border-bottom: solid white 1px;
  margin: 20px 0;
  color: white;
}