/** @format */

.login-container{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #1c2227;
}

.login-form{
  display: flex;
  flex-direction: column;
  padding: 50px;
  /* border: #121212 solid 5px; */
  width: 50vw;
}

.login-title{
  color: white;
}

.login-input{
  background-color: transparent;
  border: none;
  border-bottom: solid white 1.5px;
  margin: 20px 0;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.login-input::placeholder{
  color: white;
  font-size: 20px;
}

.login-submit{
  border: none;
  color: white;
  background-color: #0f0b0b;
  padding: 10px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 5px;
}