/** @format */


.friends-list {
  /* background-color: rgba(0, 0, 0, 0.767); */
  width: 80%;
  min-height: 80vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
}

.add-icon {
  color: black;
  font-size: 50px;
  position: relative;
  margin-right: 15px;
  flex-grow: 1;
  transition: 1s;
  margin-top: 10px;
}

.add-icon:hover{
  font-size: 55px;
}

.floating-form {
  position: absolute;
  z-index: 10;
  background-color: black;
}


